src/main/resources/fdml-with-hapi-adapter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0">
    <xs:redefine schemaLocation="http://latis-data.io/schemas/1.0/fdml.xsd">
        <xs:attributeGroup name="adapter_attributes">
            <xs:attributeGroup ref="adapter_attributes"/>
            <xs:attribute name="id" type="xs:string" use="required"/>
        </xs:attributeGroup>
        <xs:attributeGroup name="scalar_attributes">
            <xs:attributeGroup ref="scalar_attributes"/>
            <xs:attribute name="origName" type="xs:string"/>
        </xs:attributeGroup>
    </xs:redefine>
</xs:schema>
